html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  background-image: url(../assets/OIP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
/* HEADER */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #5a6f08;
}
.header img {
  margin: 1vh;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desactive {
  color: #93ad18;
  text-decoration: none;
  font-size: 1.3em;
}
.active {
  color: #93ad18;
  text-decoration: none;
  font-size: 1.3em;
  border-bottom: solid 0.3vh #93ad18;
}
/* FORM */
.formulaire {
  width: 276px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #93ad18b5;
  border-radius: 20px;
  margin-top: 6%;
  margin-bottom: 6%;
  padding: 1%;
}
#createEmployee {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: block;
  margin-top: 1%;
  margin-bottom: 1%;
}
#state {
  width: 80%;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
}
legend {
  margin: 2%;
}
fieldset {
  margin: 3% 0;
}
/*LIST*/
.List {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 6%;
  overflow: hidden;
  padding: 3% 2%;
}
.fa-sort-up {
  width: 15px;
  margin-bottom: -6px;
}
.fa-sort-down {
  width: 15px;
  margin-top: -6px;
}

/*FOOTER*/
.Footer {
  text-align: center;
  width: 100%;
  height: 10vh;
  background-color: #354104;
  position: absolute;
  bottom: 0%;
}
.footer img {
  position: relative;
  top: 6vh;
}
.Footer p {
  color: black;
  position: relative;
  top: 3vh;
}
